<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlwaysRoll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A2CA94E1E66A79B00804C21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A2CA9671E66A79B00804C21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A2CA9721E66A79B00804C21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
